@import "core.less";

// 1. Hack: (Chrome) force redraw of background on hidden elements
.app-login {
	width: 16em;
	-webkit-transform: scale(1); // 1

	// Tabs
	.tabs__item a {
		color: @app-login-tab-color;
		background-color: @app-login-tab-background;
	}

	.tabs__item--active a {
		color: @app-login-tab-color-active;
		background-color: @app-login-tab-background-active;
	}

	.tabs-content {
		position: relative;
		min-height: 11rem;
		box-shadow: @app-login-shadow;
	}

	// 1. Overide the focus
	input {
		font-weight: 300;
		font-size: 1rem;
		background-color: @app-login-input-background !important; // 1
		border: @input-border !important; // 1
	}

	.issue {
		margin: 1rem 0 0;
	}

	.button {
		margin-top: 1.5em;
	}
}