<section class="workorder">

	<div class="loader" data-bind="spin: isLoading(), visible: isLoading()"></div>

	<!-- ko if: !isLoading() -->

	<div class="container" data-bind="menu: true">

		<nav class="menu list">
			<ul>
				<li class="selected"><a href="#details" class="icon icon_arrow">Details</a></li>
				<li><a href="#technicians" class="icon icon_arrow">Technicians</a></li>
				<li><a href="#labour" class="icon icon_arrow">Labour</a></li>
				<li><a href="#equipment" class="icon icon_arrow">Equipment</a></li>
				<li><a href="#products" class="icon icon_arrow">Products</a></li>
				<li><a href="#schedule" class="icon icon_arrow">Schedule</a></li>
				<li><a href="#invoicing" class="icon icon_arrow">Invoicing</a></li>
				<li><a href="#images" class="icon icon_arrow">Images</a></li>
				<li><a href="#land-access" class="icon icon_arrow">Land Access</a></li>
				<li><a href="#daily-report" class="icon icon_arrow">Daily Report</a></li>
				<li><a href="#completion" class="icon icon_arrow">Completion</a></li>
			</ul>
		</nav>

		<div class="menu-content">

			<section id="details" class="workorder-details">

				<header class="header">
					<div class="treatment-date">
						<label for="treatment-date">Treatment Date</label>
						<input id="treatment-date" type="date" class="input-stretch" />
					</div>
					<div class="client">
						<label for="client">Client</label>
						<select id="client" class="input-stretch" data-bind="options: refData().clients, optionsText: 'name', optionsValue: 'id', value: workOrder().details.clientId(), optionsCaption: 'Please Select'"></select>
					</div>
					<div class="job">
						<label for="job">Job</label>
						<input id="job" type="text" class="input-stretch" data-bind="value: workOrder().details.jobName" />
					</div>
					<div class="status">
						<label for="status">Status</label>
						<select id="status" class="input-stretch" data-bind="options: refData().statuses, optionsText: 'name', value: workOrder().details.statusId, optionsValue: 'id'"></select>
					</div>
				</header>

				<div class="content">

					<div class="columns">

						<div class="col">
							<div class="address">
								<h3>Location</h3>
								<label for="address">Address</label>
								<textarea id="address" class="input-stretch" data-bind="value: workOrder().details.address"></textarea>
							</div>
							<div>
								<div class="columns form">
									<div class="col">
										<label for="job-number">Job #</label>
										<input id="job-number" type="text" class="input-stretch"  data-bind="value: workOrder().details.jobNumber" />
									</div>
									<div class="col">
										<label for="order-number">Order #</label>
										<input id="order-number" type="text" class="input-stretch" data-bind="value: workOrder().orderNumber" />
									</div>
									<div class="col">
										<label for="date">Date</label>
										<input id="date" type="date" class="input-stretch" data-bind="value: workOrder().details.date" />
									</div>
								</div>
								<div class="columns form">
									<div class="col">
										<label for="ubd-edition">UBD Edition</label>
										<select id="ubd-edition" class="input-stretch" data-bind="options: refData().ubdEditions, optionsText: 'name', optionsValue: 'id', value: workOrder().details.ubdEdition(), optionsCaption: 'Please Select'"></select>
									</div>
									<div class="col">
										<label for="map">Map</label>
										<input id="map" type="text" class="input-stretch" data-bind="value: workOrder().details.map" />
									</div>
									<div class="col">
										<label for="ref">Ref</label>
										<input id="ref" type="text" class="input-stretch" data-bind="value: workOrder().details.ref" />
									</div>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="contact form">
								<h3>Contact</h3>
								<div>
									<label for="contact-name">Name</label>
									<input id="contact-name" type="text" class="input-stretch" data-bind="value: workOrder().details.contactName" />
								</div>
								<div class="phone-number columns">
									<div class="col">
										<label for="phone-one">Phone 1</label>
										<input id="phone-one" type="text" class="input-stretch" data-bind="value: workOrder().details.phone1" />
									</div>
									<div class="col">
										<label for="phone-one">Phone 2</label>
										<input id="phone-one" type="text" class="input-stretch" data-bind="value: workOrder().details.phone2" />
									</div>
								</div>
							</div>
							<div class="maps">
								<h3>Maps</h3>
								<div class="addable">
									<table class="table stripe">
										<tbody data-bind="foreach: workOrder().details.documents">
											<tr>
												<td class="remove"><a href="#" class="icon icon_cross" data-bind="click: $parent.removeDocument">Remove</a></td>
												<td>
													<select data-bind="foreach: $parent.refData().documentList, value: id">
														<optgroup data-bind="attr: { label: name }, foreach: documents">
															<option data-bind="text: name, value: id"></option>
														</optgroup>
													<select>
												</td>
											</tr>
										</tbody>
									</table>
									<button class="button button-additional button-small" data-bind="click: addDocument">Add New</button>
								</div>
							</div>
						</div>

					</div>

				</div>

			</section>

			<section id="technicians" class="workorder-technicians content" style="display: none">

				<div class="technicians">
					<h3>Technicians</h3>
					<div class="addable">
						<table class="table stripe">
							<tbody data-bind="foreach: workOrder().technicians">
								<tr>
									<td class="remove"><a href="#" class="icon icon_cross" data-bind="click: $parent.removeTechnician">Remove</a></td>
									<td><select data-bind="options: $parent.refData().technicians, optionsText: 'name', optionsValue: 'id', value: id(), optionsCaption: 'Please Select'"><select></td>
								</tr>
							</tbody>
						</table>
					</div>
					<button class="button button-additional button-small" data-bind="click: addTechnician">Add New</button>
				</div>

			</section>

			<section id="labour" class="workorder-labour" style="display: none">

				<header class="header">
					<div>
						<label for="time-allocated">Time Allocated</label>
						<select id="time-allocated" data-bind="options: ko.utils.range(workOrder().labour.timeAllocated, refData().maxTimeAllocated)"></select><span class="small">Days</span>
					</div>
					<div>
						<label for="number-of-staff">Staff</label>
						<select id="number-of-staff" data-bind="options: ko.utils.range(workOrder().labour.staff, refData().maxStaff)"></select>
					</div>
					<div>
						<label for="area">Area</label>
						<input id="area" type="text" data-bind="value: workOrder().area">
					</div>
				</header>

				<div class="content">

					<div class="addable">
						<h3>Job Instructions</h3>
						<table class="job-instruction table stripe">
							<tbody data-bind="foreach: workOrder().labour.jobInstructions">
								<tr>
									<td class="remove"><a href="#" class="icon icon_cross" data-bind="click: $parent.removeJobInstruction">Remove</a></td>
									<td width="90%"><select data-bind="options: $parent.refData().jobInstructions, optionsText: 'name', optionsValue: 'id', value: id(), optionsCaption: 'Please Select'"></select></td>
									<td class="price"></td>
								</tr>
							</tbody>
						</table>
						<div>
							<button class="button button-additional button-small" data-bind="click: addJobInstruction">Add New</button>
							<span class="total">
								<span>Total</span> $0.00
							</span>
						</div>
					</div>

					<hr />

					<div class="columns">
						<div class="col work-checklist">
							<h3>Work Checklist</h3>
							<div class="checklist box">
								<ul>
									<li>
										<ul>
											<li><input id="take-5" type="checkbox" class="switch" data-bind="checked: workOrder().labour.workChecklist.take5" /></li>
											<li><label for="take-5">Have you filled out a take 5?</label></li>
										</ul>
									</li>
									<li>
										<ul>
											<li><input id="task-confident" type="checkbox" class="switch"  data-bind="checked: workOrder().labour.workChecklist.taskConfident"/></li>
											<li><label for="task-confident">Are you confident that you know what you are doing?</label></li>
										</ul>
									</li>
									<li>
										<ul>
											<li><input id="incident-report-guidelines" type="checkbox" class="switch" data-bind="checked: workOrder().labour.workChecklist.incidentReportGuidelines" /></li>
											<li><label for="incident-report-guidelines">Have you checked that you have the "incident report" guidelines?</label></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="col critical-info">
							<div>
								<label for="critical-info" class="h3">Critial Information</label>
								<textarea id="critical-info" class="input-stretch" data-bind="value: workOrder().labour.criticalInfo"></textarea>
							</div>
						</div>
					</div>

				</div>

			</section>

			<section id="equipment" class="workorder-equipment content" style="display: none">

				<div class="equipment addable">
					<h3>Equipment</h3>
					<table class="table stripe">
						<tbody data-bind="foreach: workOrder().equipment">
							<tr>
								<td class="remove"><a href="#" class="icon icon_cross" data-bind="click: $parent.removeEquipment">Remove</a></td>
								<td><select data-bind="options: $parent.refData().equipment, optionsText: 'name', optionsValue: 'id', value: id(), optionsCaption: 'Please Select'"></select></td>
							</tr>
						</tbody>
					</table>
					<button class="button button-additional button-small" data-bind="click: addEquipment">Add New</button>
				</div>

			</section>

			<section id="products" class="workorder-products content" style="display: none">

				<h3>Products</h3>
				<div class="products addable">
					<table class="table stripe">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Actual</th>
								<th>Water</th>
								<th>Area</th>
								<th>Total Products (Ltrs)</th>
							</tr>
						</thead>
						<tbody data-bind="foreach: workOrder().products">
							<tr>
								<td class="remove"><a href="#" class="icon icon_cross" data-bind="click: $parent.removeProduct">Remove</a></td>
								<td width="40%"><select data-bind="options: $parent.refData().products, optionsText: 'name', optionsValue: 'id', value: productId(), optionsCaption: 'Please Select'"></select></td>
								<td><input type="text" data-bind="value: actual"></td>
								<td><input type="text" data-bind="value: water"></td>
								<td><input type="text" data-bind="value: area"></td>
								<td width="20%"><input type="text" data-bind="value: total"></td>
							</tr>
						</tbody>
					</table>
					<button class="button button-additional button-small" data-bind="click: addProduct">Add New</button>
				</div>

			</section>

			<section id="schedule" class="workorder-schedule content" style="display: none">

				<div class="location">
					<select id="location">
						<option value="">Gold Coast Central</option>
					</select>
				</div>

				<div class="schedule-roads">
					<div class="list">
						<ul data-bind="foreach: workOrder().schedule">
							
								<!-- ko if: !edit() -->

									<li data-bind="css: { 'done': done() }">
										<a href="#" data-bind="click: $parent.scheduleToggleEdit">Nind St, Southport</a>
									</li>

								<!-- /ko -->

								<!-- ko if: edit() -->

									<li class="edit">

										<button class="cancel" data-bind="click: $parent.scheduleToggleEdit">Cancel</button>

										<!-- ko if: !done() -->

										<button class="button" data-bind="click: $parent.scheduleToggleDone">Complete</button>

										<!-- /ko -->

										<!-- ko if: done() -->

										<button class="button" data-bind="click: $parent.scheduleToggleDone">Undo</button>
										
										<!-- /ko -->
									
									</li>

								<!-- /ko -->

							</li>
						</ul>
					</div>
				</div>

			</section>

			<section id="invoicing" class="workorder-invoicing" style="display: none">

				<div class="content">

					<div class="columns">

						<div class="col invoicing">
							<div class="invoicing-details">
								<h3>Invoicing</h3>
								<div class="columns form">
									<div class="col">
										<label for="invoice-number">Invoice #</label>
										<input id="invoice-number" type="text" class="input-stretch"  data-bind="value: workOrder().invoicing.invoiceNumber"/>
									</div>
									<div class="col">
										<label for="invoice-date">Invoice Date</label>
										<input id="invoice-date" type="date" class="input-stretch" data-bind="value: workOrder().invoicing.invoiceDate" />
									</div>
								</div>
								<div class="columns form">
									<div class="col">
										<label for="invoiced-by">Invoiced By</label>
										<select id="invoiced-by" class="input-stretch" data-bind="options: refData().invoiceTypes, optionsText: 'name', optionsValue: 'id', value: workOrder().invoicing.invoicedTypeId(), optionsCaption: 'Please Select'"></select>
									</div>
									<div class="col">
										<label for="invoice-total">Invoice Total</label>
										<input id="invoice-total" type="text" class="input-stretch"  data-bind="value: workOrder().invoicing.invoiceTotal" />
									</div>
								</div>
							</div>
							<div class="invoicing-notes">
								<label for="notes">Invoicing Notes</label>
								<textarea id="invoicing-notes" class="input-stretch" data-bind="value: workOrder().invoicing.invoicingNotes"></textarea>
							</div>
						</div>

						<div class="col quote">
							<div class="form">
								<h3>Quote</h3>
								<div>
									<label for="quote-type">Quote Type</label>
									<select id="quote-type" class="input-stretch" data-bind="options: refData().quoteTypes, optionsText: 'name', optionsValue: 'id', value: workOrder().invoicing.quoteTypeId(), optionsCaption: 'Please Select'"></select>
								</div>
								<div>
									<label for="quote-number">Quote #</label>
									<input id="quote-number" type="text" class="input-stretch" data-bind="value: workOrder().invoicing.quoteNumber" />
								</div>
							</div>
						</div>

					</div>

				</div>

			</section>

			<section id="images" class="workorder-images" style="display: none">

				<header class="header">

					<div>
						<button class="button button-small">New Image</button>
					</div>

				</header>

				<div class="content">

					<div>
						<img src="" alt="" />
						<span></span>
					</div>

				</div>

			</section>

			<section id="land-access" class="workorder-land-access" style="display: none">

				<header class="header">
					<div class="technician">
						<label for="land-access-technician">Technician</label>
						<select id="land-access-technician"></select>
					</div>
					<div class="land-access-date">
						<label for="land-access-date">Date</label>
						<input id="land-access-date" type="date" />
					</div>
				</header>

				<div class="content">

					<div class="columns">

						<div class="col questions">
							<h3>Questions</h3>
							<div>
								<table>
									<tbody>
										<tr>
											<td><input id="llo-available" type="checkbox" class="switch" /></td>
											<td>Will the LLO be available for contact throughout the days work?
												<div class="contact form">
													<div>
														<label for="alt-contact-name">Alternate Name</label>
														<input id="alt-contact-name" type="text" />
													</div>
													<div>
														<label for="alt-contact-number">Alternate Number</label>
														<input id="alt-contact-number" type="text" />
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td><input id="site-issues" type="checkbox" class="switch" /></td>
											<td>Have all site specific issues been discussed with the LLO?</td>
										</tr>
										<tr>
											<td><input id="contacting-team-understand" type="checkbox" class="switch" /></td>
											<td>Do all members of the contracting team understand the site specific issues for each land parcel?</td>
										</tr>
										<tr>
											<td><input id="proceed-works-program" type="checkbox" class="switch" /></td>
											<td>Has approval been granted from the LLO to proceed with the specific works program?</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="col details">

							<div class="notes">
								<h3>Notes</h3>
								<ul class="accordian" data-bind="accordian: true">
									<li class="active">
										<a href="#">Land Parcels scheduled for works</a>
										<div>
											<textarea placeholder="Enter Land Parcels" class="input-stretch"></textarea>
										</div>
									</li>
									<li>
										<a href="#">Generic Site specific constraints identified</a>
										<div>
											<textarea placeholder="Enter constraints" class="input-stretch"></textarea>
										</div>
									</li>
									<li>
										<a href="#">Additional site specific constraints</a>
										<div>
											<textarea placeholder="Enter constraints" class="input-stretch"></textarea>
										</div>
									</li>
								</ul>
							</div>

							<div class="authorisation">
								<h3>Authorisation</h3>
								<div class="form">
									<div>
										<label for="llo-name">LLO Name</label>
										<input id="llo-name" type="text" class="input-stretch" />
									</div>
									<div class="signature">
										<label for="signature">Signature</label>
										<textarea id="signature" class="input-stretch"></textarea>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

			</section>

			<section id="daily-report" class="workorder-daily-report" style="display: none" data-bind="toggleMenu: true">

				<header class="header">
					<div>
						<label for="daily-report-technician">Technician</label>
						<select id="daily-report-technician" class="technician"></select>
					</div>
					<div class="toggle-menu">
						<div class="segmented-button">
							<input id="complete-work" name="report-options" type="radio" checked="checked" />
							<label for="complete-work" class="button">Complete Work</label>
							<input id="personnel" name="report-options" type="radio" />
							<label for="personnel" class="button">Personnel</label>
							<input id="comments" name="report-options" type="radio" />
							<label for="comments" class="button">Comments</label>
							<input id="incidents" name="report-options" type="radio" />
							<label for="incidents" class="button">Incidents</label>
						</div>
					</div>

				</header>

				<div class="toggle-menu-content content">

					<div id="complete-work-content" class="complete-work">
						<div>
							<h3>Complete Work</h3>
							<div class="addable">
								<table class="table stripe ">
									<thead>
										<tr>
											<th></th>
											<th>Job</th>
											<th>State</th>
											<th>Area (m2)</th>
											<th>Hours</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="remove"><a href="#" class="icon icon_cross">Remove</a></td>
											<td width="40%"><select></select></td>
											<td width="20%"><select></select></td>
											<td><input type="text" /></td>
											<td><input type="text" /></td>
										</tr>
									</tbody>
								</table>
								<button class="button button-additional button-small">Add New</button>
							</div>
						</div>
					</div>

					<div id="personnel-content" class="personnel">
						<div>
							<h3>Personnel</h3>
							<div class="addable">
								<table class="table stripe addable">
									<thead>
										<tr>
											<th></th>
											<th>Role</th>
											<th>Name</th>
											<th>Worked Hours</th>
											<th>Stand-By Hours</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="remove"><a href="#" class="icon icon_cross">Remove</a></td>
											<td width="40%"><select></select></td>
											<td width="20%"><input type="text" /></td>
											<td><input type="text" /></td>
											<td><input type="text" /></td>
										</tr>
									</tbody>
								</table>
								<button class="button button-additional button-small">Add New</button>
							</div>
						</div>
					</div>

					<div id="comments-content" class="comments">
						<div>
							<h3>Comments</h3>
							<div class="form">
								<div>
									<label for="comments-on-previous">Comments on Previous</label>
									<textarea id="comments-on-previous" class="input-stretch"></textarea>
								</div>
								<div>
									<label for="native-fauna-notes">Native Fauna Notes</label>
									<textarea id="native-fauna-notes" class="input-stretch"></textarea>
								</div>
								<div>
									<label for="flora-notes">Flora Notes</label>
									<textarea id="native-fauna-notes" class="input-stretch"></textarea>
							</div>
							</div>
						</div>
					</div>

					<div id="incidents-content" class="incidents">
						<h3>Incidents</h3>
						<ul>
							<li>
								<label for="environmental-issues">
									Environmental Issues
									<span>(Significant erosion, fires etc)</span>
								</label>
								<input id="environmental-issues" type="checkbox" />
								<textarea id="environmental-issues-details"></textarea>
							</li>
							<li>
								<label for="animal-management">
									Animal Management
									<span>cattle, pigs, foxes, dogs etc</span>
								</label>
								<input id="animal-management" type="checkbox" />
								<textarea id="animal-management-details"></textarea>
							</li>
							<li>
								<label for="illegal-dumping">
									Illegal Dumping
									<span>(garden waster, cars, rubblish etc)</span>
								</label>
								<input id="illegal-dumping" type="checkbox" />
								<textarea id="illegal-dumping-details"></textarea>
							</li>
							<li>
								<label for="illegal-access">
									Illegal Access
									<span>(motorbikes, cars, mtn bikes, camping)</span>
								</label>
								<input id="illegal-access" type="checkbox" />
								<textarea id="illegal-access-details"></textarea>
							</li>
							<li>
								<label for="whs">
									WH&amp;S
									<span>(accidents, near misses, safety issues)</span>
								</label>
								<input id="whs" type="checkbox" />
								<textarea id="whs-details"></textarea>
							</li>
							<li>
								<label for="other">Other</label>
								<input id="other" type="checkbox" />
								<textarea id="other-details"></textarea>
							</li>
						</ul>
					</div>

				</div>

			</section>

			<section id="completion" class="workorder-completion" style="display: none" data-bind="toggleMenu: true">

				<header class="header">
					<div>
						<label for="completion-technician">Technician</label>
						<select id="completion-technician" class="technician"></select>
					</div>
					<div class="toggle-menu">
						<div class="segmented-button">
							<input id="job-completion" name="completion" type="radio" checked="checked" />
							<label for="job-completion" class="button">Job Completion</label>
							<input id="conditions" name="completion" type="radio" />
							<label for="conditions" class="button">Conditions</label>
							<input id="timesheets" name="completion" type="radio" />
							<label for="timesheets" class="button">Timesheets</label>
							<input id="quality" name="completion" type="radio" />
							<label for="quality" class="button">Quality</label>
						</div>
					</div>
				</header>

				<div class="toggle-menu-content content">

					<div id="job-completion-content" class="job-completion">
						<h3>Job Completion</h3>
						<div class="form">
							<div>
								<div class="list">
									<ul>
										<li>
											<span class="checkbox">
												<input id="40400" type="checkbox" class="switch" />
												<label for="40400">Hand Mowing - 40400</label>
											</span>
										</li>
										<li>
											<span class="checkbox">
												<input id="40401" type="checkbox" class="switch" />
												<label for="40401">Clearing (on rotation)</label>
											</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="completion-notes">
								<label for="completion-notes">Completion Notes</label>
								<textarea id="completion-notes" class="input-stretch"></textarea>
							</div>
						</div>
					</div>

					<div id="conditions-content" class="conditions">
						<h3>Conditions</h3>
						<div class="box">
							<div class="columns">
								<div class="col">
									<label for="soil">Soil</label>
									<select id="soil" class="input-stretch"></select>
								</div>
								<div class="col">
									<label for="dew">Dew</label>
									<select id="dew" class="input-stretch"></select>
								</div>
								<div class="col">
									<label for="weather">Weather</label>
									<select id="weather" class="input-stretch"></select>
								</div>
								<div class="col">
									<label for="growth-stage">Growth State</label>
									<select id="growth-stage" class="input-stretch"></select>
								</div>
							</div>
							<div class="condition-time">
								<table class="table">
									<tbody>
										<tr>
											<th></th>
											<th>AM</th>
											<th>PM</th>
										</tr>
										<tr>
											<td><label>Wind Speed</label></td>
											<td><input type="text" class="input-stretch" /></td>
											<td><input type="text" class="input-stretch" /></td>
										</tr>
										<tr>
											<td><label>Direction</label></td>
											<td><input type="text" class="input-stretch" /></td>
											<td><input type="text" class="input-stretch" /></td>
										</tr>
										<tr>
											<td><label>Temp</label></td>
											<td><input type="text" class="input-stretch" /></td>
											<td><input type="text" class="input-stretch" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div id="timesheets-content" class="timesheets">
						<h3>Timesheets</h3>
						<div class="columns">
							<div class="col days">
								<div class="box">
									<table>
										<thead>
											<tr>
												<th></th>
												<th>Start Time</th>
												<th>End Time</th>
												<th>Hours</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Day 1</td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
											</tr>
											<tr>
												<td>Day 2</td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
											</tr>
											<tr>
												<td>Day 3</td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
											</tr>
											<tr>
												<td>Day 4</td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
											</tr>
											<tr>
												<td>Day 5</td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
												<td><input type="text" class="input-stretch" /></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col total">
								<h3>24.6</h3>
								<span>Total Hours</span>
							</div>
						</div>
					</div>

					<div id="quality-content" class="quality">
						<div class="columns">
							<div class="col form">
								<h3>Quality</h3>
								<div>
									<label for="comments-on-work-order">Comments on Work Order</label>
									<textarea id="comments-on-work-order" class="input-stretch"></textarea>
								</div>
								<div>
									<label for="remedy-if-required">Remedy if Required</label>
									<textarea id="remedy-if-required" class="input-stretch"></textarea>
								</div>
								<div>
									<label for="actions-recommended-to-top-reoccurrence">Actions Recommended to Stop Reoccurrence</label>
									<textarea id="actions-recommended-to-top-reoccurrence" class="input-stretch"></textarea>
								</div>
							</div>
							<div class="col">
								<label class="h3">QA Questions</label>
								<div class="checklist box">
									<ul>
										<li>
											<ul>
												<li><input id="customer-satisfied" type="checkbox" class="switch" /></li>
												<li><label for="customer-satisfied">Would the customer be totally satisfied?</label></li>
											</ul>
										</li>
										<li>
											<ul>
												<li><input id="on-site-meeting" type="checkbox" class="switch" /></li>
												<li><label for="on-site-meeting">On site meeting with staff required?</label></li>
											</ul>
										</li>
										<li>
											<ul>
												<li><input id="results-relayed" type="checkbox" class="switch" /></li>
												<li><label for="results-relayed">Results relayed to customer?</label></li>
											</ul>
										</li>
									</ul>
								</div>
								<button class="button button-additional button-small">Print QA Report</button>
							</div>
						</div>
					</div>

				</div>

			</section>

		</div>

	</div>

	<div class="action">
		<div>
			<button class="button button-large negative">Archive</button>
		</div>
		<div>
				<button class="button button-large positive" data-bind="click: save">Save</button>
		</div>
	</div>

	<!-- /ko -->

</section>