<section class="settings" data-bind="toggleMenu: true">

	<header class="header">

		<ul class="toggle-menu">
			<div class="segmented-button">
				<input id="settings-clients" name="settings" type="radio" checked="checked" />
				<label for="settings-clients" class="button">Clients</label>
				<input id="settings-data-types" name="settings" type="radio" />
				<label for="settings-data-types" class="button">Data Types</label>
				<input id="settings-document-groups" name="settings" type="radio" />
				<label for="settings-document-groups" class="button">Document Groups</label>
			</div>
		</ul>

	</header>

	<div class="content">

		<div class="toggle-menu-content">

			<div id="settings-clients-content" class="settings-clients-content">

				<div class="actions">
					<input id="client-name" type="text" />
					<button class="button">Add New</button>
				</div>

				<div class="datagrid">

					<table class="fixed-header table stripe">
						<colgroup>
							<col width="4%">
							<col width="96%">
						</colgroup>
						<thead>
							<tr>
								<th></th>
								<th>Client Name</th>
							</tr>
						</thead>
					</table>

					<div class="results scrollable">

						<table class="table stripe">
							<colgroup>
								<col width="4%">
								<col width="96%">
							</colgroup>
							<thead>
								<tr>
									<th></th>
									<th>Client Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="remove"><a href="#" class="icon icon_cross"><span>Remove</span></a></td>
									<td>Client A</td>
								</tr>
								<tr>
									<td class="remove"><a href="#" class="icon icon_cross"><span>Remove</span></a></td>
									<td>Client B</td>
								</tr>
								<tr>
									<td class="remove"><a href="#" class="icon icon_cross"><span>Remove</span></a></td>
									<td>Client C</td>
								</tr>
							</tbody>
						</table>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>