@import "icon/icon.less";
@import "mixins/mixins.less";
@import "ui/addable.less";
@import "ui/accordian.less";
@import "ui/button.less";
@import "ui/checklist.less";
@import "ui/datagrid.less";
@import "ui/dropdown-menu.less";
@import "ui/form.less";
@import "ui/grid.less";
@import "ui/header.less";
@import "ui/heading.less";
@import "ui/hr.less";
@import "ui/info.less";
@import "ui/input.less";
@import "ui/issue.less";
@import "ui/label.less";
@import "ui/list.less";
@import "ui/loader.less";
@import "ui/photos.less";
@import "ui/segment-button.less";
@import "ui/switch.less";
@import "ui/table.less";
@import "ui/tabs.less";
@import "ui/toggle-menu.less";
@import "settings/default.less";

/**
 * UI Elements
 */

.addable();
.accordian();
.button();
.datagrid();
.dropdown-menu();
.checklist();
.form();
.grid();
.header();
.heading();
.hr();
.info();
.input();
.issue();
.label();
.list();
.loader();
.photos();
.segmented-buttons();
.switch();
.table();
.tabs();
.toggle-menu();

/**
 * Common
 */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	.display(flex);
	.flexFlow(column);
	.flex(1);
	padding: 0;
	font-family: "Helvetica Neue", "HelveticaNeue", Arial;
	font-family: Arial;
	font-weight: 600;
}

a:link {
	-webkit-tap-highlight-color: transparent;
}

.invalid {
	border-color: @negative;
}

.scrollable {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

/**
 * App
 */

.wrapper {
	.display(flex);
	.flexFlow(column);
	.flex(1);
	max-width: 100%;
	width: 100%;
	margin: 0;
	background-color: @app-bg-color;
	background-image: @app-bg-image;
}

.app {
	.display(flex);
	.flexFlow(column);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -12rem;
	transition: all 0.3s ease-out;

	&.active {
		right: -12rem;
		left: 0;
	}

	> .container {
		.display(flex);
		.flexFlow(column);
		.flex(1);
		padding-left: 12rem;

		> .content {
			.display(flex);
			.flex(1);
			background-color: @content-bg-color;
		}
	}
}

.app-bar {
	.display(flex);
	.flexFlow(row);
	height: 3rem;
	background-color: @app-bar-bg-color;

	.menu-back {
		margin-left: 1px;
	}

	.menu-toggle, .menu-back, .logout {
		padding: 0.5rem 0.8rem;
		height: 100%;
		color: @app-bar-button-color;
		line-height: 1;
		text-decoration: none;
		background-color: @app-bar-button-bg-color;
		border: 0;
	}

	.menu-toggle, .menu-back {
		display: inline-block;
		width: 3rem;
		font-size: 1.5rem;
		line-height: 1.4;
		text-align: center;

		span {
			display: none;
		}
	}

	.menu-back ~ .title {
		padding-left: 0;
	}

	.title {
		.flex(1);
		margin: 0;
		padding-left: 3.5rem;
		color: @app-bar-title-color;
		font-weight: 100;
		font-family: "HelveticaNeue-Light", "Helvetica Neue", Arial;
		font-size: 1.4rem;
		line-height: 2;
		text-align: center;
	}
}

.app-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 0.5rem;
	width: 12rem;
	font-size: 0.9rem;
	box-shadow: inset -5px 0 10px -5px @menu-shadow-color;
	z-index: 1;

	li {
		margin-bottom: 0.5em;
		padding: 0.5rem 0.6rem 1rem;
		border-bottom: 1px solid @menu-border-color;

		&:last-of-type {
			border: 0;
		}
	}

	a {
		display: block;
		color: @menu-color;
		text-align: center;
		text-decoration: none;

		&:before {
			display: block;
			font-weight: normal;
			font-size: 2rem;
			line-height: 1.2;
		}
	}

	.selected a {
		color: @menu-color-hover;
	}

	a:hover {
		color: @menu-color-selected;
	}
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

/**
 * Login
 */

.login-container {
	.display(flex);
	.flexFlow(column);
	.justifyContent(center);
	.alignItems(center);
	.flex(1);
	-webkit-transform: translateZ(0.00001px); /* Hack: (Chrome) force redraw of background on hidden elements */

	label {
		display: none;
	}

	input {
		padding: 0.6rem;
		width: 100%;
		font-weight: 300;
		background-color: @login-input-bg-color;

		&:focus {
			background-color: @login-input-bg-color;
			border-color: @input-border-color;
		}
	}

	.tab-container {
		width: 17rem;
	}

	.tabs li.active {
		box-shadow: -5px 10px 5px -5px @login-shadow-color;
	}

	.tab-content {
		min-height: 11rem;
		box-shadow: 0 5px 5px 0 @login-shadow-color;
	}

	.issue-error {
		margin-top: 1.3rem;
	}

	.issue-success {
		padding: 2.5rem;
		text-align: center;

		&:before {
			font-size: 2rem;
			line-height: 1;
			text-align: center;
		}
	}

	.button {
		margin-top: 1.5rem;
		padding: 0.7em 0.5em;
		width: 100%;

		.ladda-spinner {
			left: 50% !important;
		}
	}
}

.login {

	.username {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.password {
		position: relative;
		top: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	button .ladda-spinner {
		margin-left: -2rem !important;
	}
}

.recover-login {

	p {
		margin: 0.58rem 0 0;
		padding: 0;
		font-weight: 300;
		font-size: 0.6rem;
	}

	button .ladda-spinner {
		margin-left: -4rem !important;
	}
}

/**
 * Work Orders
 */

.workorders {
	.display(flex);
	.flexFlow(column);
	.flex(1);

	.filter {
		.display(flex);
		.flexFlow(row);
		.justifyContent(space-between);

		.status {
			width: 20rem;
		}

		.technician {
			width: 6.5rem;
		}

		.date-to, .date-from {
			width: 6.3rem;
		}

		.add-new-button {
			position: relative;
			margin-top: 1.35rem;
			width: 5.5rem;
		}
	}

	.datagrid {
		.display(flex);
		.flexFlow(column);
		.flex(1);
		margin: 1.5rem;
	}

	.results {
		.display(flex);
		.flex(1);
		.scrollable();
	}
}

/**
 * Work Order
 */

.workorder {
	.display(flex);
	.flexFlow(column);
	.flex(1);

	.container {
		.display(flex);
		.flexFlow(row);
		.flex(1);
	}

	.menu {
		.display(flex);
		.flexFlow(column);
		.scrollable();
		width: 12rem;
		border-width: 0 1px 0 0;
	}

	.header {

		.toggle-menu {
			width: 28.5rem;
			vertical-align: bottom;
		}

		.technician {
			width: 12rem;
		}
	}

	.menu-content {
		.display(flex);
		.flexFlow(column);
		.flex(1);

		> section {
			.display(flex);
			.flexFlow(column);
		}
	}

	.content {
		padding: 1rem 1.5rem;
		.display(flex);
		.flexFlow(column);
		.flex(1);
	}

	.action {
		.display(flex);
		.flexFlow(row);
		.justifyContent(space-between);
		padding: 1rem;
		height: 4rem;
		font-size: 1rem;
		background-color: @shade-pos-5;
		border-top: 1px solid @shade-pos-4;

		.button {
			width: 6rem;
		}
	}

	.box {
		padding: 0.8rem;
		background-color: @shade-pos-5;
	}
}

.workorder-details {
	.display(flex);
	.flexFlow(column);
	.flex(1);

	.header {
		.justifyContent(space-between);

		.treatment-date {
			.flex(1);
			width: 20%;
		}

		.client {
			.flex(2);
			width: 25%;
		}

		.job {
			.flex(2);
			width: 25%;
		}

		.status {
			.flex(1);
			width: 20%;
		}
	}

	.address {
		textarea, span {
			margin-bottom: 1.8rem;
			height: 6.4rem;
		}
	}

	.contact {
		margin-bottom: 1.4rem;
	}

	.maps .list {
		.scrollable();
		margin-bottom: 1rem;
		height: 6.7rem;
		line-height: 0.5rem;
		background: @shade-pos-5;
	}
}

.workorder-labour {

	.header > div {
		display: inline-block;
		width: 8.5rem;

		select, input, span {
			width: 6rem;
		}
	}

	.work-checklist {
		.flex(2);
		width: 70%;
	}

	.critical-info {
		width: 30%;

		textarea, span {
			height: 8.5rem;
		}
	}
}

.workorder-schedule {

	.location select {
		margin-bottom: 1rem;
		width: 12rem;
	}

	.schedule-roads {

		.list ul li {
			position: relative
			padding: 1rem;
		}

		.list li:last-of-type a {
			border-bottom: 0;
		}

		.edit {
			padding: 0.29rem;
			text-align: right;
			background-color: @shade-neg-3;
		}

		.cancel {
			color: @white;
			font-size: 0.8rem;
			background: transparent;
			border: 0;
		}

		.done a {
			positon: relative;
			color: darken(@green, 10);
			background-color: lighten(@green, 55);

			&:after {
				position: absolute;
				right: 1rem;
				font-family: "icon";
				content: "\f106";
				font-size: 1rem;
				line-height: 1.2;
			}
		}
	}
}

.workorder-invoicing {

	.invoicing {
		width: 65%;
	}

	.quote {
		width: 35%;
	}

	.invoicing-details {
		margin-bottom: 2rem;
		width: 70%;
	}

	.invoicing-notes textarea {
		height: 8rem;
	}
}

.workorder-images {

	.header {
		height: 3.8rem;
	}
}

.workorder-land-access {

	.header {

		.technician select {
			width: 12rem;
		}

		.land-access-date input {
			width: 7rem;
		}
	}

	.questions {
		font-size: 0.8rem;
		font-weight: 400;
		width: 50%;

		td {
			padding: 0.5rem;
			vertical-align: top;
		}
	}

	.contact {
		margin-top: 1rem;

		input {
			width: 80%;
		}
	}

	.details {
		width: 50%;
	}

	.authorisation {
		margin-top: 2.5rem;
	}
}

.workorder-daily-report {

	.comments textarea {
		height: 4rem;
	}

	.incidents {

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			margin-bottom: 0.5rem;
		}

		input {
			float: left;
			margin-right: 0.5rem;
		}

		label {
			display: inline-block;

			span {
				display: block;
				font-size: 0.6rem;
			}
		}

		textarea {
			display: none;
		}

		input:checked + textarea {
			display: block;
			margin-left: 1.8rem;
			margin-bottom: 1rem;
			width: 20rem;
			height: 4rem;
		}
	}
}

.workorder-completion {

	.job-completion {

		.list li:last-of-type span {
			border-bottom: 0;
		}

		.completion-notes textarea {
			height: 8rem;
		}
	}

	.conditions {

		.condition-time {
			margin: 2rem auto 0;
			padding-right: 5rem;
			width: 24rem;

			table {
				white-space: nowrap;
			}
		}
	}

	.timesheets {

		.days {
			width: 70%;

			tr td:first-of-type {
				white-space: nowrap;
			}

			td {
				padding: 0.5rem;
				font-size: 0.6rem;
			}
		}

		.total {
			width: 30%;
			text-align: center;

			h3 {
				font-size: 4rem;
				line-height: 0.8;
			}
		}
	}

	.quality {

		.columns .col {
			width: 50%;
		}

		textarea {
			height: 4rem;
		}
	}
}

/**
 * Document Repo
 */

.document-repository {
	.display(flex);
	.flexFlow(row);
	.flex(1);

	.menu {
		.display(flex);
		.flexFlow(column);
		.scrollable();
		width: 17rem;
		border-width: 0 1px 0 0;
	}

	.document {
		.display(flex);
		.flexFlow(column);
		.scrollable();
		.flex(1);
	}

	.content {
		padding: 3rem;
		.scrollable();
	}
}