<div class="main" data-bind="css: { active: menuVisibility }">
	<nav class="main-menu">
		<ul>
			<li data-bind="css: { selected: menu() == 'workOrders' }"><a href="#" class="icon icon_workorders" data-bind="route: '#workorders'">Work Orders</a></li>
			<li data-bind="css: { selected: menu() == 'documentRepo' }"><a href="#" class="icon icon_document-repo" data-bind="route: '#document-repository'">Document Repository</a></li>
			<li data-bind="css: { selected: menu() == 'users' }"><a href="#" class="icon icon-user" data-bind="route: '#users'">Users</a></li>
			<li data-bind="css: { selected: menu() == 'settings' }"><a href="#" class="icon icon-settings" data-bind="route: '#settings'">Settings</a></li>
		</ul>
	</nav>
	<div class="container">
		<header class="main-bar">
			<a href="#" class="menu-toggle icon icon_menu" data-bind="click: menuToggle"><span>Menu</span></a><!-- ko if: content() == 'workOrder' --><a href="#" class="menu-back icon icon_back" data-bind="route: '#workorders'"><span>Back</span></a><!-- /ko -->
			<h1 class="title" data-bind="text: title"></h1>
			<button class="logout" data-bind="click: logout">Logout</button>
		</header>
		<div class="content" data-bind="component: content()"></div>
	</div>
</div>