.accordian() {

	.accordian {
		margin: 0;
		padding: 0;
		list-style: none;
		border: 1px solid @input-border-color;

		a {
			display: block;
			padding: 0.5rem;
			color: @shade-pos-1;
			font-size: 0.6rem;
			text-decoration: none;
			background-color: @shade-pos-5;
			border-bottom: 1px solid @input-border-color;
		}

		li:last-of-type {
			a {
				border-bottom: 0;
			}
			div {
				border-top: 1px solid @input-border-color;
				border-bottom: 0;
			}
		}

		li div {
			display: none;
			padding: 0;
			border-bottom: 1px solid @input-border-color;
		}

		li textarea {
			height: 4rem;
			background-color: @white;
			border: 0;
			border-radius: 0;
		}

		li.active div {
			display: block;
		}

	}

}