.grid() {

	.columns {
		.display(flex);
		.flexFlow(row);
		.justifyContent(space-between);
		.flex(1);
		width: 100%;

		> .col {
			margin-right: 1.5em;
			width: 50%;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

}