.list() {

	.list {
		margin: 0;
		padding: 0;
		background-color: @list-bg-color;
		border: 1px solid @list-border-color;
		list-style: none;
		user-select: none;
		position: relative;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			position: relative;
		}

		h2 {
			display: block;
			margin: 0;
			padding: 0.8rem 1rem;
			color: @list-header-color;
			font-weight: 300;
			font-size: 1rem;
			background-color: @list-header-bg-color;
		}

		a, span {
			display: block;
			position: relative;
			padding: 0.7em 1em;
			font-weight: 500;
			color: @list-color;
			font-size: 0.8rem;
			text-decoration: none;
			background-color: @list-bg-color;
			border-bottom: 1px solid @list-border-color;

			&:before {
				position: absolute;
				right: 1rem;
				font-size: 1.2rem;
				line-height: 1;
			}
		}

		a.remove {
			display: none;
		}

		&.edit {

			a.remove {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 3rem;
				color: @negative;
				text-indent: -999rem;

				&:hover {
					color: @white;
					background-color: @negative;
					border-color: @negative;
				}

				&:before {
					text-indent: 0;
				}
			}

			li.selected a {
				color: @selected-color;;
			}

		}

		li.selected a {
			color: @selected-color;
			background-color: @selected-bg-color;
			border-color: @selected-bg-color;
		}

		a:hover {
			color: @hover-color;
			background-color: @hover-bg-color;
			border-color: @hover-bg-color;

			&:before {
				color: @hover-color;
			}
		}
	}

}