<section class="document-repository">

	<div class="overlay" data-bind="visible: addNewDocument.showMenu(), click: toggleAddNewMenu"></div>

	<div class="header" data-bind="visible: isAdmin()">
		<div>
			<button class="edit-button button" data-bind="click: toggleEdit">Edit</button>
		</div>
		<div class="dropdown-menu">
			<button class="add-new-button button" data-bind="click: toggleAddNewMenu">Add New</button>
			<div class="dropdown" data-bind="visible: addNewDocument.showMenu()">

				<div class="content">

					<div class="segmented-button">
						<input type="radio" id="group-existing" name="group" value="existing" data-bind="checked: addNewDocument.groupType" />
						<label class="button" for="group-existing">Existing Group</label>
						<input type="radio" id="group-new" name="group" value="new" data-bind="checked: addNewDocument.groupType" />
						<label class="button" for="group-new">New Group</label>
					</div>

					<!-- ko if: addNewDocument.groupType() == 'existing' -->

					<select id="existing-group" class="input-stretch" data-bind="options: documentList, optionsText: 'name', optionsValue: 'name', value: addNewDocument.existingGroup, optionsCaption: 'Select Group'">
					</select>

					<!-- /ko -->

					<!-- ko if: addNewDocument.groupType() == 'new' -->

					<input id="new-group" type="text" class="input-stretch" data-bind="value: addNewDocument.createGroup" placeholder="Group Name" />

					<!-- /ko -->

					<div class="file-upload">
						<input id="upload-placeholder" class="upload-placeholder" placeholder="Choose File" disabled="disabled" data-bind="value: addNewDocument.placeholder" />
						<div class="button">
							<span>Upload</span>
							<input id="upload" type="file" class="upload-button" data-bind="value: addNewDocument.file" />
						</div>
					</div>

				</div>

				<button class="button dropdown-primary-button" data-bind="click: uploadDocument, ladda: addNewDocument.isUploading()">Add Document</button>

			</div>
		</div>
	</div>

	<div class="document-container">

		<div class="loader" data-bind="spin: isLoading(), visible: isLoading()"></div>

		<!-- ko if: !isLoading() -->

			<nav class="menu list" data-bind="css: { edit : isEdit}">
				<div class="results scrollable">
					<ul data-bind="foreach: documentList">
						<li>
							<h2 data-bind="text: name"></h2>
							<ul data-bind="foreach: documents">
								<li data-bind="css: { selected: $data == $root.selected() }"><a href="" class="icon icon_arrow" data-bind="text: name, click: $root.selected.bind($data)"></a><a href="#" class="remove icon icon-cross">Remove</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>

			<div class="document scrollable">

				<div class="loader" data-bind="spin: isDocumentLoading(), visible: isDocumentLoading()"></div>

				<!-- ko if: !isDocumentLoading() -->

					<div class="info" data-bind="visible: !isDocumentLoaded()">
						<span class="icon icon_info">Select a document</span>
					</div>

					<div class="content" data-bind="visible: isDocumentLoaded(), html: documentDetails()"></div>

				<!-- /ko -->

			</div>

		<!-- /ko -->

	</div>

</section>