// Layer Promotion Mixin
// Apply GPU Accelerated Compositing, USE WITH CAUTION!!!
// http://aerotwist.com/blog/on-translate3d-and-layer-creation-hacks/

.gpu-layer(@device) when (@device = desktop) {
	-webkit-transform: translateZ(0);
	-webkit-transform: translate3d(0,0,0);
}

.gpu-layer(@device) when (@device = mobile) {
	// Note: GPU Accelerated Compositing "Triggers" continue to change in mobile webkit (Hence Kitchen Sink Approach)
	-webkit-transform: translateZ(0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-perspective: 1000; // Warning: Causes slowness for iOS6 and below
	-webkit-backface-visibility: hidden;
}


// Flexbox Mixins
// Provides support for Mobile Webkit, Autoprefixer can't do this.

.display(@display) when (@display = flex) {
	display: -webkit-box;
	display: flex;
}

.flexFlow(@flexFlow) when (@flexFlow = column) {
	-webkit-box-orient: vertical;
	flex-flow: column;
}
.flexFlow(@flexFlow) when (@flexFlow = row) {
	-webkit-box-orient: horizontal;
	flex-flow: row;
}
.flexFlow(@flexFlow) {
	-webkit-box-orient: @flexFlow;
	flex-flow: @flexFlow;
}

.flex(@flex) {
	-webkit-box-flex: @flex;
	flex: @flex;
}

.justifyContent(@justifyContent) when (@justifyContent = space-between) {
	-webkit-box-pack: justify; // Old value for 'space-between'
	justify-content: space-between;
}
.justifyContent(@justifyContent) {
	-webkit-box-pack: @justifyContent;
	justify-content: @justifyContent;
}

.alignItems(@alignItems) {
	-webkit-box-align: @alignItems;
	align-items: @alignItems;
}