<div class="user-login">

	<form>

		<div>
			<input type="text" placeholder="User Name" class="user-login__username" data-bind="value: username" autocorrect="off" autocapitalize="off" autofocus />
		</div>

		<div>
			<input type="password" placeholder="Password" class="user-login__password" data-bind="value: password" />
		</div>

		<!-- ko if: isFailed() -->
		<div class="issue issue--negative icon icon--left icon--cross">Login failed, please try again.</div>
		<!-- /ko -->

		<div>
			<button class="button button--block button--positive" data-bind="click: login, ladda: isLoading">Login</button>
		</div>

	</form>

</div>