<div class="recover-login">

	<!-- ko if: !isSuccess() -->
	<form>

		<div>
			<input type="text" placeholder="Email Address" data-bind="value: email" />
		</div>

		<p class="recover-login__message">If you have forgotten your login, we will send you an email to reset your password.</p>

		<!-- ko if: isFailed() -->
		<div class="issue issue--negative icon icon--left icon--cross">Email address doesn't exist.</div>
		<!-- /ko -->

		<div>
			<button class="button button--block button--positive" data-bind="click: recover, ladda: isLoading">Recover Login</button>
		</div>

	</form>
	<!-- /ko -->

	<!-- ko if: isSuccess() -->
	<div class="recover-login__success issue issue--positive icon icon--large icon--top icon--tick">Check your email.</div>
	<!-- /ko -->

</div>